:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --white-text-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --secondary-button-bg: #188ce8;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Roboto, Comfortaa, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Webstudio and Portfolio Header */
/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.second-part-logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

/* Navigation */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

/* Hero section */
.hero {
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--secondary-button-bg);
}

/* First section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Work section */

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Team section */

.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-list .full-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-list .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

/* Webstudio and Portfolio Footer */
.part-logo {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.footer-section {
  background-color: var(--secondary-bg-color);
}

.address {
  color: var(--white-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.contacts .link {
  color: var(--footer-contacts-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Portfolio main section */

.button-filter {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-title:hover,
.portfolio-title:focus {
  color: var(--accent-color);
}

.portfolio-text:hover,
.portfolio-text:focus {
  color: var(--accent-color);
}
